{% extends "base.html" %}
{% block content %}
    <div class="pure-menu pure-menu-horizontal"id="manager-menu">

    <ul class="pure-menu-list" >
        <li class="pure-menu-item"><a href="{{ url_for('readersearch') }}" class="pure-menu-link">读者查询</a> </li>
        <li class="pure-menu-item"><a href="{{ url_for('addbook') }}" class="pure-menu-link">增添书籍</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('deletebook') }}" class="pure-menu-link">删除书籍</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('bookalterselect') }}" class="pure-menu-link">修改书籍</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('addreader') }}" class="pure-menu-link">增添读者</a> </li>
        <li class="pure-menu-item"><a href="{{ url_for('deletereader') }}" class="pure-menu-link">删除读者</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('readeralterselect') }}" class="pure-menu-link">修改读者</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('overday_info') }}" class="pure-menu-link">超期信息</a></li>
        <li class="pure-menu-item"><a href="" class="pure-menu-link">书籍借还</a></li>
    </ul>
</div>
     <form class="pure-form pure-form-aligned"method="post"name="增添书籍">
      {{ form.csrf_token }}
    <fieldset>
        <div class="pure-control-group">
            <label for="id">编号</label>
            {{ form.id }}
        </div>

        <div class="pure-control-group">
            <label for="name">书名</label>
            {{ form.name }}
        </div>

        <div class="pure-control-group">
            <label for="style_num">类别编号</label>
            {{ form.style_num }}
        </div>

        <div class="pure-control-group">
            <label for="author">作者</label>
            {{  form.author}}
        </div>

        <div class="pure-control-group">
            <label for="count">数量</label>
            {{  form.count}}
        </div>

        <div class="pure-control-group">
            <label for="available_count">可借数量</label>
            {{ form.available_count }}
        </div>

        <div class="pure-control-group">
            <label for="price">价格</label>
            {{ form.price }}
        </div>

        <div class="pure-control-group">
            <label for="press">出版社</label>
            {{ form.press }}
        </div>

        <div class="pure-control-group">
            <label for="publish_date">出版日期</label>
            {{ form.publish_date }}
        </div>
        <div class="pure-control-group">
            <label for="summary">摘要</label>
            {{ form.summary }}
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">提交</button>
        </div>
    </fieldset>
</form>
{% endblock %}